SELECT SYSDATE
  FROM DUAL
  
SELECT TO_CHAR(SYSDATE ,'YYYY/MM/DD')     AS DAY1
      ,TO_CHAR(SYSDATE, 'YYYY. MON, DAY') AS DAY2
FROM DUAL


SELECT NULL FROM DUAL WHERE 1 = 1; 
-->집합이 하나 있는데 그 안에 있는 값이 뭔지 모르는 NULL

SELECT NULL FROM DUAL WHERE 1 = 2; 
-->공집합

SELECT NVL(NULL, 'SKPANG') FROM DUAL WHERE 1 = 1;  
-->레코드가 있기 때문에 NULL자리에 문자열이 표시됨
                                                       
SELECT NVL(NULL, 'SKPANG') FROM DUAL WHERE 1 = 2;  
-->리턴되는 레코드가 없기 때문에 문자열이 표시되지 않음

SELECT NVL(MAX(NULL), 'HELLO') AS VAL  --> 집계함수를 쓰면 없던 레코드가 하나 생긴다
  FROM DUAL
 WHERE 1 = 2 
 
SELECT NVL(MIN('Y'), 'N') AS EXIST_YN  -->그날 레코드가 존재하지 않으면 NULL이 아니라 공집합이 되어버림 Y라는 컬럼을 집계함수로 감싸서 NULL값으로 바꿔줌 그 후에 NVL 사용
  FROM LO_OUT_M
 WHERE OUTBOUND_DATE = '2015-06-03'
   AND ROWNUM = 1   --> 6월3일에 일을 해서 레코드가 있는지 확인하고 싶을때 이런식으로 사용하기도 함
 
SELECT OUTBOUND_DATE
      ,TO_CHAR(OUTBOUND_DATE,'DAY')AS DY
      ,INVOICE_NO
      ,ORDER_NM
  FROM A_OUT_M
 WHERE BRAND_CD = '1001' 
 ORDER BY TO_CHAR(OUTBOUND_DATE,'D') ---> 표시는 DAY로 하고 정렬은 D로 할 수 있다
 
SELECT OUTBOUND_DATE
      ,TO_CHAR(OUTBOUND_DATE, 'DAY')AS DY
      ,INVOICE_NO
      ,CASE MOD(TO_NUMBER(SUBSTR(INVOICE_NO,2,2)),2)
            WHEN 0 THEN '짝'
            ELSE        '홀'
       END AS EVENODD
      ,ORDER_NM
  FROM A_OUT_M
 WHERE BRAND_CD = '1001'  
 
SELECT BRAND_CD, COUNT(INVOICE_NO) AS INV_CNT
  FROM A_OUT_M
 GROUP BY BRAND_CD 
 
SELECT BRAND_CD
      ,TO_CHAR(OUTBOUND_DATE, 'DAY')AS DY
      ,COUNT(INVOICE_NO) AS INV_CNT
  FROM A_OUT_M
 GROUP BY BRAND_CD
         ,TO_CHAR(OUTBOUND_DATE, 'DAY')
         ,TO_CHAR(OUTBOUND_DATE, 'D')    ---> 셀렉트에 없는 애가 그룹바이에는 있어도 됨!
 ORDER BY BRAND_CD
         ,TO_CHAR(OUTBOUND_DATE, 'D')    ---> 그룹바이에 넣어준 그놈으로 오더바이 해준다!

SELECT BRAND_CD
      ,CASE MOD(TO_NUMBER(SUBSTR(INVOICE_NO,2,2)),2)
            WHEN 0 THEN '짝'
            ELSE        '홀'
       END AS EVENODD
      ,COUNT(DISTINCT INVOICE_NO) AS INV_CNT
      ,SUM(ORDER_QTY)
  FROM A_OUT_D
 GROUP BY BRAND_CD, MOD(TO_NUMBER(SUBSTR(INVOICE_NO,2,2)),2)
 ORDER BY BRAND_CD
 
 SELECT BRAND_CD
      ,DECODE(MOD((TO_NUMBER(SUBSTR(INVOICE_NO,2,2)),2),0,'짝','홀') )AS EVENODD
      ,COUNT(DISTINCT INVOICE_NO) AS INV_CNT
      ,SUM(ORDER_QTY)
  FROM A_OUT_D
 GROUP BY BRAND_CD, DECODE (MOD((TO_NUMBER(SUBSTR(INVOICE_NO,2,2)),2),0,'짝','홀') )
 ORDER BY BRAND_CD
 

SELECT BRAND_CD
      ,EVENODD 
      ,COUNT(DISTINCT INVOICE_NO) AS INV_CNT
      ,SUM(ORDER_QTY)
  FROM(
       SELECT BRAND_CD
             ,INVOICE_NO
            ,CASE MOD(TO_NUMBER(SUBSTR(INVOICE_NO,2,2)),2)
                  WHEN 0 THEN '짝'
                  ELSE        '홀'
             END AS EVENODD
            ,ORDER_QTY
        FROM A_OUT_D
        )
 GROUP BY BRAND_CD
         ,EVENODD
 ORDER BY BRAND_CD
 
 
SELECT INVOICE_NO
      ,OUTBOUND_DATE
      ,TO_CHAR(OUTBOUND_DATE, 'DAY')AS DAYY
      ,OUTBOUND_NO
  FROM 

 
SELECT NVL(TO_CHAR(SUM(ORDER_QTY)),'EMPTY...') AS ORDER_QTY
  FROM LO_OUT_D
 WHERE INVOICE_NO = '346724706215'
  

SELECT OUTBOUND_DATE 
,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '01' THEN SET_QTY END AS M01
,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '02' THEN SET_QTY END AS M02
,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '03' THEN SET_QTY END AS M03
,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '04' THEN SET_QTY END AS M04
,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '05' THEN SET_QTY END AS M05
,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '06' THEN SET_QTY END AS M06
,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '07' THEN SET_QTY END AS M07
,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '08' THEN SET_QTY END AS M08
,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '09' THEN SET_QTY END AS M09
,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '10' THEN SET_QTY END AS M10
,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '11' THEN SET_QTY END AS M11
,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '12' THEN SET_QTY END AS M12
FROM LO_OUT_M
WHERE OUTBOUND_DATE BETWEEN TO_DATE('20190101', 'YYYY-MM-DD') AND TO_DATE('20191231', 'YYYY-MM-DD');
      
SELECT OUTBOUND_DATE
      ,SET_QTY
      ,TO_CHAR(OUTBOUND_DATE, 'MM') AS MM 
      ,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '01' THEN SET_QTY END AS M01
      ,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '02' THEN SET_QTY END AS M02
      ,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '03' THEN SET_QTY END AS M03
      ,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '04' THEN SET_QTY END AS M04
      ,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '05' THEN SET_QTY END AS M05
      ,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '06' THEN SET_QTY END AS M06
      ,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '07' THEN SET_QTY END AS M07
      ,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '08' THEN SET_QTY END AS M08
      ,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '09' THEN SET_QTY END AS M09
      ,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '10' THEN SET_QTY END AS M10
      ,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '11' THEN SET_QTY END AS M11
      ,CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '12' THEN SET_QTY END AS M12
 FROM LO_OUT_M
WHERE OUTBOUND_DATE BETWEEN TO_DATE('20190101', 'YYYY-MM-DD') AND TO_DATE('20191231', 'YYYY-MM-DD');
 

SELECT OUTBOUND_DATE
      ,TO_CHAR(OUTBOUND_DATE,'DAY')AS DY
      ,INVOICE_NO
      ,CASE MOD(TO_NUMBER(SUBSTR(INVOICE_NO,2,2)),2)
                  WHEN 0 THEN '짝'
                  ELSE        '홀'
             END AS EVENODD
      ,ORDER_NM
      ,OUT_TYPE_DIV
      ,CASE WHEN OUT_TYPE_DIV LIKE 'M1%' THEN '상온'
            WHEN OUT_TYPE_DIV LIKE 'M2%' THEN '저온'
       END AS TEMP
  FROM A_OUT_M
  
SELECT OUTBOUND_DATE
      ,TO_CHAR(OUTBOUND_DATE,'DAY')AS DY
      ,INVOICE_NO
      ,CASE MOD(TO_NUMBER(SUBSTR(INVOICE_NO,2,2)),2)
                  WHEN 0 THEN '짝'
                  ELSE        '홀'
             END AS EVENODD
      ,ORDER_NM
      ,OUT_TYPE_DIV
      ,CASE SUBSTR(OUT_TYPE_DIV, 1, 2)
            WHEN 'M1' THEN '상온'
            WHEN 'M2' THEN '저온'
       END AS TEMP
  FROM A_OUT_M
  
  
SELECT BRAND_CD
      ,INVOICE_NO
      ,LINE_NO
      ,ITEM_CD
      ,ORDER_QTY
      ,CASE WHEN ORDER_QTY <  3  THEN '하'
            WHEN ORDER_QTY <  5  THEN '중'
            ELSE '상'
       END AS GRADE
  FROM A_OUT_D
  
SELECT BRAND_CD
      ,CASE SUBSTR(OUT_TYPE_DIV, 1, 2)
            WHEN 'M1' THEN '상온'
            WHEN 'M2' THEN '저온'
       END AS TEMP
      ,COUNT(INVOICE_NO) AS INV_CNT
  FROM A_OUT_M
 GROUP BY BRAND_CD, SUBSTR(OUT_TYPE_DIV, 1, 2)
 ORDER BY BRAND_CD

SELECT BRAND_CD
      ,CASE WHEN SUM_QTY < 3 THEN '하'
            WHEN SUM_QTY < 5 THEN '중'
            ELSE '상'
       END AS GRADE
      ,COUNT(1)AS CNT
  FROM(  
       SELECT BRAND_CD, INVOICE_NO, SUM(ORDER_QTY)AS SUM_QTY
         FROM A_OUT_D
        GROUP BY BRAND_CD, INVOICE_NO
        ORDER BY BRAND_CD
        )
GROUP BY BRAND_CD
,CASE WHEN SUM_QTY < 3 THEN '하'
      WHEN SUM_QTY < 5 THEN '중'
      ELSE '상'
END 


SELECT CASE WHEN ROWNUM <= 2 THEN ROWNUM  ELSE 3     END AS RNK 
      ,CASE WHEN ROWNUM <= 2 THEN ITEM_CD ELSE 'ETC' END AS ITEM
      ,SUM(SUM_QTY) AS ORDER_QTY
  FROM (
        SELECT ITEM_CD
              ,SUM(ORDER_QTY) AS SUM_QTY
          FROM A_OUT_D
         GROUP BY ITEM_CD
         ORDER BY SUM_QTY DESC
       )
 GROUP BY CASE WHEN ROWNUM <= 2 THEN ROWNUM  ELSE 3     END
         ,CASE WHEN ROWNUM <= 2 THEN ITEM_CD ELSE 'ETC' END
 ORDER BY CASE WHEN ROWNUM <= 2 THEN ROWNUM  ELSE 3     END  

SELECT RNK, ITEM, ORDER_QTY
  FROM(
        SELECT CASE WHEN ROWNUM <= 2 THEN ROWNUM  ELSE 0     END AS RNK 
            ,CASE WHEN ROWNUM <= 2 THEN ITEM_CD ELSE 'ETC' END AS ITEM
            ,SUM(SUM_QTY) AS ORDER_QTY
        FROM (
              SELECT ITEM_CD
                    ,SUM(ORDER_QTY) AS SUM_QTY
                FROM A_OUT_D
               GROUP BY ITEM_CD
               ORDER BY SUM_QTY DESC
             )
       GROUP BY CASE WHEN ROWNUM <= 2 THEN ROWNUM  ELSE 0     END
               ,CASE WHEN ROWNUM <= 2 THEN ITEM_CD ELSE 'ETC' END
      )  
 ORDER BY CASE WHEN RNK IN(1,2) THEN 1 ELSE 2 END -->1등2등은 1로 만들고 나머지는 2로 만든다
         ,RNK                                     -->1로 만든 1,2등 내에서 다시 정렬한다
         
         
SELECT INVOICE_NO
     , LINE_NO
     , ITEM_CD
     , ORDER_QTY
  FROM A_OUT_D
 WHERE BRAND_CD = '1001'
 ORDER BY CASE WHEN ITEM_CD = 'C' THEN 1 ELSE 2 END
          ,ITEM_CD
          ,-ORDER_QTY
          
          
SELECT OUTBOUND_DATE
      ,COUNT(INVOICE_NO) AS INVOICE_CNT
      ,OUT_TYPE_DIV
      ,CASE :COND
            WHEN :COND = 0 THEN OUT_BOX_DIV
            WHEN :COND = 1 THEN OUT_BOX_DIV LIKE 'D%'
            WHEN :COND = 2 THEN OUT_BOX_DIV LIKE 'F%'
            ELSE NULL
       END AS OUT_BOX_DIV_WHAT
  FROM LO_OUT_M
 WHERE OUTBOUND_DATE BETWEEN '2019-09-01' AND '2019-09-19'
 GROUP BY OUTBOUND_DATE, OUT_TYPE_DIV,OUT_BOX_DIV
 ORDER BY OUTBOUND_DATE
 

SELECT ITEM_CD, ITEM_BAR_CD
  FROM LO_OUT_D
 GROUP BY
 ORDER BY ITEM_CD
 
 
 
 
 
 
 



