SELECT M1.INVOICE_NO, M1.OUTBOUND_DATE, M1.OUT_TYPE_DIV
      ,M2.LINE_NO   , M2.ITEM_CD      , M2.ORDER_QTY
  FROM LO_OUT_M M1
       JOIN LO_OUT_D M2 ON M2.INVOICE_NO = M1.INVOICE_NO
 WHERE M1.INVOICE_NO IN('346724703834', '346724722535', '346724717915');
 

SELECT M.BRAND_CD, M.OUTBOUND_DATE, M.INVOICE_NO
      ,D.LINE_NO , D.ORDER_QTY
  FROM A_OUT_M M
       JOIN A_OUT_D D ON D.INVOICE_NO = M.INVOICE_NO
                     AND D.BRAND_CD   = M.BRAND_CD
 WHERE M.OUTBOUND_DATE = '2023-01-04'
   AND D.ITEM_CD IN ('B', 'D');
   
   
SELECT M.BRAND_CD, M.OUTBOUND_DATE, M.INVOICE_NO
      ,D.LINE_NO , D.ORDER_QTY
  FROM A_OUT_M M
       JOIN A_OUT_D D ON D.INVOICE_NO = M.INVOICE_NO
                     AND D.BRAND_CD   = M.BRAND_CD
                     AND D.ITEM_CD IN ('B', 'D')        ------>D에 있는 값이니까 이런 식으로 적어줘도 됨!!!
 WHERE M.OUTBOUND_DATE = '2023-01-04'
   
   
   

SELECT M.BRAND_CD, M.OUTBOUND_DATE
      ,D.ITEM_CD , SUM(D.ORDER_QTY)AS SUM_QTY
  FROM A_OUT_M M
       JOIN A_OUT_D D ON D.BRAND_CD   = M.BRAND_CD
                     AND D.INVOICE_NO = M.INVOICE_NO
 WHERE M.OUTBOUND_DATE BETWEEN '2023-01-03' AND '2023-01-04'
   AND D.ITEM_CD IN('B', 'D')
 GROUP BY M.BRAND_CD, M.OUTBOUND_DATE
         ,D.ITEM_CD
 ORDER BY BRAND_CD
 
 
SELECT M.BRAND_CD, M.OUTBOUND_DATE
      ,D.ITEM_CD , SUM(D.ORDER_QTY)AS SUM_QTY
  FROM A_OUT_M M
       JOIN A_OUT_D D ON D.BRAND_CD   = M.BRAND_CD
                     AND D.INVOICE_NO = M.INVOICE_NO
                     AND D.ITEM_CD IN('B', 'D')
 WHERE M.OUTBOUND_DATE BETWEEN '2023-01-03' AND '2023-01-04'
 GROUP BY M.BRAND_CD, M.OUTBOUND_DATE
         ,D.ITEM_CD
 ORDER BY BRAND_CD 
 
 
         
         
SELECT INVOICE_NO, ORDER_NM, SUM_QTY
  FROM(
       SELECT M.INVOICE_NO, M.ORDER_NM, SUM(D.ORDER_QTY)AS SUM_QTY
         FROM A_OUT_M M
              JOIN A_OUT_D D ON D.BRAND_CD   = M.BRAND_CD
                            AND D.INVOICE_NO = M.INVOICE_NO
        WHERE M.BRAND_CD = '1001'
          AND M.OUTBOUND_DATE BETWEEN '2023-01-04' AND '2023-01-05'
        GROUP BY M.INVOICE_NO, M.ORDER_NM
        ORDER BY SUM_QTY DESC
      ) 
  WHERE ROWNUM = 1;
  
  
SELECT M.BRAND_CD, M.OUTBOUND_DATE, M.INVOICE_NO
      ,I.ITEM_CD , I.ITEM_NM
      ,D.ORDER_QTY
  FROM A_OUT_M M
       JOIN A_OUT_D D ON D.BRAND_CD   =  M.BRAND_CD
                     AND D.INVOICE_NO =  M.INVOICE_NO
                     AND D.ORDER_QTY  >= 3
       JOIN A_ITEM  I ON I.BRAND_CD   =  D.BRAND_CD
                     AND I.ITEM_CD    =  D.ITEM_CD
 WHERE M.OUTBOUND_DATE BETWEEN '2023-01-01' AND '2023-01-04'
 
 

SELECT M.BRAND_CD, D.ITEM_CD, SUM(D.ORDER_QTY)AS SUM_QTY, I.ITEM_NM, I.QTY_IN_BOX
  FROM A_OUT_M M
       JOIN A_OUT_D D ON D.BRAND_CD   = M.BRAND_CD
                     AND D.INVOICE_NO = M.INVOICE_NO
       JOIN A_ITEM  I ON I.BRAND_CD   = D.BRAND_CD
                     AND I.ITEM_CD    = D.ITEM_CD
 WHERE M.OUTBOUND_DATE BETWEEN '2023-01-01' AND '2023-01-04'
 GROUP BY M.BRAND_CD, D.ITEM_CD, I.ITEM_NM, I.QTY_IN_BOX
 ORDER BY M.BRAND_CD, D.ITEM_CD, I.ITEM_NM, I.QTY_IN_BOX
 
 
 
SELECT M.BRAND_CD, M.ITEM_CD, I.ITEM_NM, I.QTY_IN_BOX, M.SUM_QTY
  FROM (
        SELECT M.BRAND_CD, D.ITEM_CD, SUM(D.ORDER_QTY)AS SUM_QTY
          FROM A_OUT_M M
               JOIN A_OUT_D D ON D.BRAND_CD   = M.BRAND_CD
                             AND D.INVOICE_NO = M.INVOICE_NO
         WHERE M.OUTBOUND_DATE BETWEEN '2023-01-01' AND '2023-01-04'
         GROUP BY M.BRAND_CD, D.ITEM_CD
        ) M
        JOIN A_ITEM I ON I.BRAND_CD = M.BRAND_CD
                     AND I.ITEM_CD  = M.ITEM_CD
 ORDER BY M.BRAND_CD, M.ITEM_CD 
 
 
 
 
SELECT BRAND_CD, ITEM_NM, SUM_QTY, TRUNC(SUM_QTY / QTY_IN_BOX)AS BOX_CNT, MOD(SUM_QTY, QTY_IN_BOX)AS CNT
  FROM (
        SELECT M.BRAND_CD, D.ITEM_CD, SUM(D.ORDER_QTY)AS SUM_QTY, I.ITEM_NM, I.QTY_IN_BOX
          FROM A_OUT_M M
               JOIN A_OUT_D D ON D.BRAND_CD   = M.BRAND_CD
                             AND D.INVOICE_NO = M.INVOICE_NO
               JOIN A_ITEM  I ON I.BRAND_CD   = D.BRAND_CD
                             AND I.ITEM_CD    = D.ITEM_CD
         WHERE M.OUTBOUND_DATE BETWEEN '2023-01-01' AND '2023-01-04'
         GROUP BY M.BRAND_CD, D.ITEM_CD, I.ITEM_NM, I.QTY_IN_BOX
         ORDER BY M.BRAND_CD
       )
  GROUP BY BRAND_CD, ITEM_NM, SUM_QTY, TRUNC(SUM_QTY / QTY_IN_BOX), MOD(SUM_QTY, QTY_IN_BOX)
  ORDER BY BRAND_CD;
  
  
  
SELECT M.BRAND_CD, M.ITEM_CD, I.ITEM_NM, I.QTY_IN_BOX, M.SUM_QTY
  FROM (
        SELECT M.BRAND_CD, D.ITEM_CD, SUM(D.ORDER_QTY)AS SUM_QTY
          FROM A_OUT_M M
               JOIN A_OUT_D D ON D.BRAND_CD   = M.BRAND_CD
                             AND D.INVOICE_NO = M.INVOICE_NO
         WHERE M.OUTBOUND_DATE BETWEEN '2023-01-01' AND '2023-01-04'
         GROUP BY M.BRAND_CD, D.ITEM_CD
        ) M
        JOIN A_ITEM I ON I.BRAND_CD = M.BRAND_CD
                     AND I.ITEM_CD  = M.ITEM_CD
 ORDER BY M.BRAND_CD, M.ITEM_CD 
  
  
  
SELECT *
  FROM(
       SELECT BRAND_CD, ITEM_NM, SUM_QTY, TRUNC(SUM_QTY / QTY_IN_BOX)AS BOX_CNT, MOD(SUM_QTY, QTY_IN_BOX)AS CNT
       FROM (
             SELECT M.BRAND_CD, D.ITEM_CD, SUM(D.ORDER_QTY)AS SUM_QTY, I.ITEM_NM, I.QTY_IN_BOX
               FROM A_OUT_M M
                    JOIN A_OUT_D D ON D.BRAND_CD   = M.BRAND_CD
                                  AND D.INVOICE_NO = M.INVOICE_NO
                    JOIN A_ITEM  I ON I.BRAND_CD   = D.BRAND_CD
                                  AND I.ITEM_CD    = D.ITEM_CD
              WHERE M.OUTBOUND_DATE BETWEEN '2023-01-01' AND '2023-01-04'
              GROUP BY M.BRAND_CD, D.ITEM_CD, I.ITEM_NM, I.QTY_IN_BOX
              ORDER BY M.BRAND_CD
            )
       GROUP BY BRAND_CD, ITEM_NM, SUM_QTY, TRUNC(SUM_QTY / QTY_IN_BOX), MOD(SUM_QTY, QTY_IN_BOX)
       ORDER BY BOX_CNT DESC
      )
  WHERE ROWNUM <= 3;



SELECT LEVEL FROM DUAL CONNECT BY LEVEL <= 10


SELECT LEVEL + TO_DATE('2023-04-07', 'YYYY-MM-DD') AS DY
  FROM DUAL
CONNECT BY LEVEL <= 10

 
SELECT INVOICE_NO, LINE_NO, ITEM_CD, ORDER_QTY,NO  
  FROM LO_OUT_D
       JOIN CS_NO C1 ON C1.NO <= 2               ---> 연결고리가 없는 JOIN. 무조건 조인 성공! 3줄* 2만큼 복제가 된다
 WHERE INVOICE_NO = '346724706214'
 ORDER BY LINE_NO, NO  
   
   

SELECT INVOICE_NO, LINE_NO, ITEM_CD, ORDER_QTY
  FROM LO_OUT_D
 WHERE INVOICE_NO = '346724706214'
 ORDER BY LINE_NO
 
 
 
SELECT CASE NO WHEN 1 THEN INVOICE_NO ELSE '합계' END AS INVOICE_NO
      ,CASE NO WHEN 1 THEN LINE_NO    ELSE 0      END AS LINE_NO
      ,CASE NO WHEN 1 THEN ITEM_CD    ELSE '-'    END AS ITEM_CD
      ,SUM(ORDER_QTY)AS SUM_QTY
  FROM LO_OUT_D
       JOIN CS_NO C1 ON C1.NO <= 2               
 WHERE INVOICE_NO = '346724706214'
 GROUP BY CASE NO WHEN 1 THEN INVOICE_NO ELSE '합계' END
         ,CASE NO WHEN 1 THEN LINE_NO    ELSE 0      END
         ,CASE NO WHEN 1 THEN ITEM_CD    ELSE '-'    END
         ,NO
 ORDER BY NO
 
 
 
SELECT INVOICE_NO, LINE_NO, ITEM_CD, ORDER_QTY, NO
  FROM LO_OUT_D M1
       JOIN CS_NO C1 ON C1.NO <= M1.ORDER_QTY
 WHERE INVOICE_NO = '346724706214'
 ORDER BY LINE_NO

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
   

