SELECT M.INVOICE_NO, M.OUTBOUND_DATE, M.OUT_TYPE_DIV
      ,D.LINE_NO   , D.ITEM_CD      
      ,I.ITEM_NM   , D.ORDER_QTY
  FROM LO_OUT_M M
       JOIN LO_OUT_D D ON D.INVOICE_NO = M.INVOICE_NO
       JOIN CM_ITEM  I ON I.ITEM_CD    = D.ITEM_CD
 WHERE M.INVOICE_NO IN('346724703834', '346724722535', '346724717915')
 ORDER BY M.INVOICE_NO, D.LINE_NO;
 
 
SELECT M1.INVOICE_NO, M1.OUTBOUND_DATE, M1.OUT_TYPE_DIV
      ,M1.LINE_NO   , M1.ITEM_CD      
      ,I.ITEM_NM   , M1.ORDER_QTY
  FROM(
       SELECT M.INVOICE_NO, M.OUTBOUND_DATE, M.OUT_TYPE_DIV
             ,D.LINE_NO   , D.ITEM_CD      , D.ORDER_QTY
         FROM LO_OUT_M M
              JOIN LO_OUT_D D ON D.INVOICE_NO = M.INVOICE_NO
        WHERE M.INVOICE_NO IN('346724703834', '346724722535', '346724717915')
      )M1
       JOIN CM_ITEM I ON I.ITEM_CD = M1.ITEM_CD
 ORDER BY M1.INVOICE_NO, M1.LINE_NO
 
 
SELECT *
  FROM CS_CODE
 ORDER BY CASE WHEN CODE_GRP = '000' THEN CODE_CD ELSE CODE_GRP END
         ,CASE WHEN CODE_GRP = '000' THEN 1       ELSE 2        END
         ,CODE_CD
            
      
       
       
SELECT M.INVOICE_NO, M.OUTBOUND_DATE, M.OUT_TYPE_DIV
      ,D.LINE_NO   , D.ITEM_CD      
      ,I.ITEM_NM   , D.ORDER_QTY    
      ,C.CODE_NM AS TEMP_NM
      ,S.CODE_NM AS OUT_TYPE_NM
  FROM LO_OUT_M M
       JOIN LO_OUT_D D ON D.INVOICE_NO = M.INVOICE_NO
       JOIN CM_ITEM  I ON I.ITEM_CD    = D.ITEM_CD
       JOIN CS_CODE  C ON C.CODE_GRP   = 'LDIV01'
                      AND C.CODE_CD    = M.TEMP_DIV
       JOIN CS_CODE  S ON S.CODE_GRP   = 'LDIV03'
                      AND S.CODE_CD    = M.OUT_TYPE_DIV
 WHERE M.INVOICE_NO IN('346724703834', '346724722535', '346724717915')
 ORDER BY M.INVOICE_NO, D.LINE_NO;       
 
 
SELECT *
  FROM (                                       --딴짓하지 말고 내가 시키는 일만 해라 라는 힌트..? (D)는 내가 지정해준 이름
         SELECT --+ ORDERED USE_NL(D)          
                M.INVOICE_NO, M.OUTBOUND_NO, M.OUTBOUND_BATCH
               ,D.ITEM_CD  , D.ITEM_NM     , D.ORDER_QTY
           FROM LO_OUT_M M
                JOIN LO_OUT_D D ON D.INVOICE_NO = M.INVOICE_NO
                               AND D.ITEM_NM   LIKE '%골뱅이%'
          WHERE M.OUTBOUND_DATE BETWEEN '2019-09-03' AND '2019-09-10'
          ORDER BY D.ORDER_QTY DESC
        ) 
 WHERE ROWNUM <= 5;
 


SELECT D.ITEM_CD, I.ITEM_NM, SUM(D.ORDER_QTY)AS ORDER_QTY     --> 쓸데없이 조인 횟수가 많아짐. 상품코드로 그룹바이를 해놓고 인라인뷰로 바깥에서 조인할 값을 최소화 해줄 수 있음
  FROM LO_OUT_M M
       JOIN LO_OUT_D D ON D.INVOICE_NO = M.INVOICE_NO
       JOIN CM_ITEM  I ON I.ITEM_CD    = D.ITEM_CD
 WHERE OUTBOUND_DATE BETWEEN '2019-09-03' AND '2019-09-10'
   AND OUT_BOX_DIV = 'D5'
 GROUP BY D.ITEM_CD, I.ITEM_NM
 ORDER BY ORDER_QTY DESC
 
 

SELECT M.INVOICE_NO, M.OUTBOUND_DATE, M.OUT_TYPE_DIV, D.LINE_NO, D.ITEM_CD, I.ITEM_NM, D.ORDER_QTY
     , NVL(C.CODE_NM, 'FAILED...') AS TEMP_NM
     , NVL(S.CODE_NM, 'FAILED...') AS OUT_TYPE_NM
  FROM LO_OUT_M M
            JOIN LO_OUT_D D ON D.INVOICE_NO = M.INVOICE_NO
            JOIN CM_ITEM  I ON I.ITEM_CD    = D.ITEM_CD
       LEFT JOIN CS_CODE  C ON C.CODE_CD    = M.TEMP_DIV
                           AND C.CODE_GRP   = 'LDIV011'        ---> NULL값이라서 LEFT조인을 해주지 않으면 모든 값이 표시되지 않음. 
       LEFT JOIN CS_CODE  S ON S.CODE_CD    = M.OUT_TYPE_DIV
                           AND S.CODE_GRP   = 'LDIV03'
 WHERE M.INVOICE_NO IN('346724703834', '346724722535', '346724717915')
 ORDER BY M.INVOICE_NO, D.LINE_NO;
 
 
SELECT OUTBOUND_DATE, QTY
  FROM(
      SELECT M.OUTBOUND_DATE, SUM(D.ORDER_QTY)AS QTY
        FROM LO_OUT_M M
             JOIN LO_OUT_D D ON D.INVOICE_NO = M.INVOICE_NO
       WHERE OUTBOUND_DATE BETWEEN '2019-09-01' AND '2019-09-19'
       GROUP BY M.OUTBOUND_DATE
       ORDER BY M.OUTBOUND_DATE
      )


SELECT OUT_DATE
  FROM(
       SELECT LEVEL + TO_DATE('2019-09-01')AS OUT_DATE
         FROM DUAL    
      CONNECT BY LEVEL <= '2019-09-19' - '2019-09-01'
      )

--------------------> 내가 푼 조인 두번

SELECT L.OUT_DATE, NVL(SUM(D.ORDER_QTY), 0)AS QTY  ------>  빠진 날짜가 없는 FROM절 안의 셀렉트 구문을 바탕으로  데이터 값을 조인한다
  FROM (
        SELECT TO_DATE(:OUT_DATE1 + NO - 1)AS OUT_DATE
          FROM CS_NO
         WHERE NO <= :OUT_DATE2 - :OUT_DATE1 + 1
        ) L
       LEFT JOIN LO_OUT_M M ON M.OUTBOUND_DATE = L.OUT_DATE
       LEFT JOIN LO_OUT_D D ON D.INVOICE_NO    = M.INVOICE_NO
 GROUP BY L.OUT_DATE
 ORDER BY L.OUT_DATE
 

-------------->교수님 풀이 조인 안에 셀렉트문을 넣는다

SELECT L.OUT_DATE, NVL(SUM(M2.QTY), 0)AS QTY  ------>  빠진 날짜가 없는 FROM절 안의 셀렉트 구문을 바탕으로  데이터 값을 조인한다
  FROM (
        SELECT TO_DATE(:OUT_DATE1 + NO - 1)AS OUT_DATE
          FROM CS_NO
         WHERE NO <= :OUT_DATE2 - :OUT_DATE1 + 1
        ) L    
  LEFT JOIN (
             SELECT --+ ORDERED USE_NL(D) INDEX(D LO_OUT_D_INXPK)
                    M.OUTBOUND_DATE, SUM(D.ORDER_QTY)AS QTY
               FROM LO_OUT_M M
                    JOIN LO_OUT_D D ON D.INVOICE_NO = M.INVOICE_NO
              WHERE OUTBOUND_DATE BETWEEN '2019-09-01' AND '2019-09-19'
              GROUP BY M.OUTBOUND_DATE
              ORDER BY M.OUTBOUND_DATE
              )M2 ON M2.OUTBOUND_DATE = L.OUT_DATE
 GROUP BY L.OUT_DATE
 ORDER BY L.OUT_DATE
 
 
 
SELECT INVOICE_NO, LINE_NO, ITEM_CD, ITEM_NM, ORDER_QTY
      ,SUM(ORDER_QTY) OVER(PARTITION BY INVOICE_NO ORDER BY LINE_NO) AS ACC_ORDER_QTY  --->분석함수. 얘를 쓰면 레코드 건수 변화가 생기지 않음. 다양한 집계함수에 대한 분석결과를 볼 수 있음
  FROM LO_OUT_D
 WHERE INVOICE_NO IN('346724703845', '346724706214') 


SELECT *
  FROM(
      SELECT INVOICE_NO, LINE_NO, ITEM_CD, ITEM_NM, ORDER_QTY
        FROM ER_OUT
       WHERE OUTBOUND_DATE = '2019-09-03'
         AND OUTBOUND_BATCH = 046
         AND ITEM_NM LIKE '%한입떡갈비%'
      )L1
  LEFT JOIN(
            SELECT D.INVOICE_NO, D.LINE_NO, D.ITEM_CD, D.ITEM_NM, D.ORDER_QTY
              FROM LO_OUT_M M
                   JOIN LO_OUT_D D ON D.INVOICE_NO = M.INVOICE_NO
                                  AND D.ITEM_NM LIKE '%한입떡갈비%'
             WHERE M.OUTBOUND_DATE = '2019-09-03'
               AND M.OUTBOUND_BATCH = 046
           )L2 ON L2.INVOICE_NO = L1.INVOICE_NO
              AND L2.LINE_NO    = L1.LINE_NO
 WHERE L2.INVOICE_NO IS NULL
 ORDER BY L1.INVOICE_NO
         ,L1.LINE_NO;


-----------------------------------------------------> 챕터 넘어감! 정렬!!

SELECT OUTBOUND_DATE, INVOICE_NO, WORK_SEQ
  FROM LO_OUT_M
 WHERE OUTBOUND_DATE BETWEEN '2019-06-03' AND '2019-06-04'
   AND SET_TYPE_CD = '000581225'
   AND SET_QTY     = 3
 ORDER BY CASE :SORT_TYPE WHEN 1 THEN  WORK_SEQ
                                 ELSE -WORK_SEQ 
          END
         ,INVOICE_NO 


SELECT INVOICE_NO, LINE_NO, ITEM_NM
       ,CASE :SORT_TYPE WHEN 1 THEN ITEM_NM END AS AAA
       ,CASE :SORT_TYPE WHEN 2 THEN ITEM_NM END AS BBB
  FROM LO_OUT_D
 WHERE INVOICE_NO = '346724704405'
 ORDER BY CASE :SORT_TYPE WHEN 1 THEN ITEM_NM END ASC    ---> 둘 중 한 컬럼이 NULL이 되면 의미가 정렬이 의미가 없어지므로 이런 식으로 적어주면 좋다.
         ,CASE :SORT_TYPE WHEN 2 THEN ITEM_NM END DESC
         
         
         
SELECT --+ ORDERED USE_NL(D) INDEX(D LO_OUT_D_INXPK)
       M.OUTBOUND_DATE, SUM(ORDER_QTY)AS SUM_QTY
  FROM LO_OUT_M M
       JOIN LO_OUT_D D ON D.INVOICE_NO = M.INVOICE_NO
 WHERE OUTBOUND_DATE BETWEEN '2019-09-01' AND '2019-09-30'
 GROUP BY M.OUTBOUND_DATE
 ORDER BY SUM_QTY DESC
 


SELECT --+ ORDERED USE_NL(D) INDEX(D LO_OUT_D_INXPK)
        SUM(CASE TO_CHAR(OUTBOUND_DATE, 'DAY') WHEN '일요일' THEN ORDER_QTY END )AS SUN
      , SUM(CASE TO_CHAR(OUTBOUND_DATE, 'DAY') WHEN '월요일' THEN ORDER_QTY END )AS MON
      , SUM(CASE TO_CHAR(OUTBOUND_DATE, 'DAY') WHEN '화요일' THEN ORDER_QTY END )AS TUE
      , SUM(CASE TO_CHAR(OUTBOUND_DATE, 'DAY') WHEN '수요일' THEN ORDER_QTY END )AS WED
      , SUM(CASE TO_CHAR(OUTBOUND_DATE, 'DAY') WHEN '목요일' THEN ORDER_QTY END )AS THU
      , SUM(CASE TO_CHAR(OUTBOUND_DATE, 'DAY') WHEN '금요일' THEN ORDER_QTY END )AS FRI 
      , SUM(CASE TO_CHAR(OUTBOUND_DATE, 'DAY') WHEN '토요일' THEN ORDER_QTY END )AS SAT 
  FROM LO_OUT_M M
       JOIN LO_OUT_D D ON D.INVOICE_NO = M.INVOICE_NO
 WHERE M.OUTBOUND_DATE BETWEEN '2019-09-01' AND '2019-09-30' 
 
 ------------------------------------> 피봇 사용하는 방법
 
SELECT SUN, MON, TUE, WED, THU, FRI, SAT
  FROM(
       SELECT --+ ORDERED USE_NL(D) INDEX(D LO_OUT_D_INXPK)
              TO_CHAR(M.OUTBOUND_DATE, 'D') AS DY
             ,SUM(D.ORDER_QTY) AS ORDER_QTY
         FROM LO_OUT_M M
              JOIN LO_OUT_D D ON D.INVOICE_NO = M.INVOICE_NO
        WHERE M.OUTBOUND_DATE BETWEEN '2019-09-01' AND '2019-09-30'
        GROUP BY TO_CHAR(M.OUTBOUND_DATE, 'D')
      )
 PIVOT( SUM(ORDER_QTY) FOR DY IN (1 AS SUN, 2 AS MON, 3 AS TUE, 4 AS WED, 5 AS THU, 6 AS FRI, 7 AS SAT))




SELECT --+ ORDERED USE_NL(D) INDEX(D LO_OUT_D_INXPK)
        TO_CHAR(OUTBOUND_DATE, 'DAY')AS DAY
       ,SUM(D.ORDER_QTY) AS ORDER_QTY
  FROM LO_OUT_M M
       JOIN LO_OUT_D D ON D.INVOICE_NO = M.INVOICE_NO
 WHERE M.OUTBOUND_DATE BETWEEN '2019-09-01' AND '2019-09-30' 
 GROUP BY TO_CHAR(OUTBOUND_DATE, 'DAY'), TO_CHAR(OUTBOUND_DATE, 'D')
 ORDER BY TO_CHAR(OUTBOUND_DATE, 'D')



SELECT --+ ORDERED USE_NL(D) INDEX(D LO_OUT_D_INXPK)
        SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '01' THEN ORDER_QTY END )AS M01
       ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '02' THEN ORDER_QTY END )AS M02
       ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '03' THEN ORDER_QTY END )AS M03
       ,SUM(CASE WHEN TO_CHAR(OUTBOUND_DATE, 'Q') = 1   THEN ORDER_QTY END )AS Q1
       ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '04' THEN ORDER_QTY END )AS M04
       ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '05' THEN ORDER_QTY END )AS M05
       ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '06' THEN ORDER_QTY END )AS M06
       ,SUM(CASE WHEN TO_CHAR(OUTBOUND_DATE, 'Q') = 2   THEN ORDER_QTY END )AS Q2
       ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '07' THEN ORDER_QTY END )AS M07
       ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '08' THEN ORDER_QTY END )AS M08
       ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '09' THEN ORDER_QTY END )AS M09
       ,SUM(CASE WHEN TO_CHAR(OUTBOUND_DATE, 'Q') = 3   THEN ORDER_QTY END )AS Q3
       ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '10' THEN ORDER_QTY END )AS M10
       ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '11' THEN ORDER_QTY END )AS M11
       ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '12' THEN ORDER_QTY END )AS M12
       ,SUM(CASE WHEN TO_CHAR(OUTBOUND_DATE, 'Q') = 4   THEN ORDER_QTY END )AS Q4
  FROM LO_OUT_M M
       JOIN LO_OUT_D D ON D.INVOICE_NO = M.INVOICE_NO
 WHERE M.OUTBOUND_DATE BETWEEN TO_DATE('20190101', 'YYYY-MM-DD') AND TO_DATE('20191231', 'YYYY-MM-DD')

SELECT RNUM, ITEM_CD, ITEM_NM, ORDER_QTY
SELECT ROWNUM AS RNUM, ITEM_CD, ITEM_NM, ORDER_QTY
  FROM (
        SELECT --+ ORDERED USE_NL(D) INDEX(D LO_OUT_D_INXPK)
               D.ITEM_CD, D.ITEM_NM, SUM(ORDER_QTY) AS ORDER_QTY
          FROM LO_OUT_M M
               JOIN LO_OUT_D D ON D.INVOICE_NO = M.INVOICE_NO
         WHERE M.OUTBOUND_DATE BETWEEN '2019-06-01' AND '2019-06-30'
           AND D.ITEM_NM LIKE '%참치%'
         GROUP BY D.ITEM_CD, D.ITEM_NM
         ORDER BY ORDER_QTY DESC
        )



   















       
       
       
       
       
       