SELECT SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '01' THEN SET_QTY END) AS M01
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '02' THEN SET_QTY END) AS M02
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '03' THEN SET_QTY END) AS M03
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '04' THEN SET_QTY END) AS M04
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '05' THEN SET_QTY END) AS M05
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '06' THEN SET_QTY END) AS M06
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '07' THEN SET_QTY END) AS M07
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '08' THEN SET_QTY END) AS M08
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '09' THEN SET_QTY END) AS M09
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '10' THEN SET_QTY END) AS M10
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '11' THEN SET_QTY END) AS M11
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '12' THEN SET_QTY END) AS M12
FROM LO_OUT_M
WHERE OUTBOUND_DATE BETWEEN TO_DATE('20190101', 'YYYY-MM-DD') AND TO_DATE('20191231', 'YYYY-MM-DD');


SELECT OUTBOUND_DATE
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '01' THEN SET_QTY END) AS M01
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '02' THEN SET_QTY END) AS M02
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '03' THEN SET_QTY END) AS M03
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '04' THEN SET_QTY END) AS M04
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '05' THEN SET_QTY END) AS M05
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '06' THEN SET_QTY END) AS M06
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '07' THEN SET_QTY END) AS M07
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '08' THEN SET_QTY END) AS M08
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '09' THEN SET_QTY END) AS M09
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '10' THEN SET_QTY END) AS M10
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '11' THEN SET_QTY END) AS M11
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '12' THEN SET_QTY END) AS M12
  FROM LO_OUT_M
 WHERE OUTBOUND_DATE BETWEEN TO_DATE('20190101', 'YYYY-MM-DD') AND TO_DATE('20191231', 'YYYY-MM-DD')
 GROUP BY OUTBOUND_DATE
 ORDER BY OUTBOUND_DATE;


SELECT TO_CHAR(OUTBOUND_DATE, 'YYYY')AS YYYY  --> EXTRACT(YEAR FROM OUTBOUND_DATE) AS YYYY 같음!
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '01' THEN SET_QTY END) AS M01
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '02' THEN SET_QTY END) AS M02
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '03' THEN SET_QTY END) AS M03
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '04' THEN SET_QTY END) AS M04
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '05' THEN SET_QTY END) AS M05
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '06' THEN SET_QTY END) AS M06
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '07' THEN SET_QTY END) AS M07
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '08' THEN SET_QTY END) AS M08
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '09' THEN SET_QTY END) AS M09
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '10' THEN SET_QTY END) AS M10
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '11' THEN SET_QTY END) AS M11
      ,SUM(CASE TO_CHAR(OUTBOUND_DATE, 'MM') WHEN '12' THEN SET_QTY END) AS M12
FROM LO_OUT_M
WHERE OUTBOUND_DATE BETWEEN TO_DATE('20180101', 'YYYY-MM-DD') AND TO_DATE('20191231', 'YYYY-MM-DD')
GROUP BY TO_CHAR(OUTBOUND_DATE, 'YYYY')
ORDER BY YYYY;


SELECT INVOICE_NO, LINE_NO, ITEM_CD, ITEM_NM, ORDER_QTY
  FROM LO_OUT_D
 WHERE INVOICE_NO = '346724706214'
 ORDER BY CASE WHEN :SORT_TYPE = 1 THEN LINE_NO
               ELSE ORDER_QTY
          END
         ,LINE_NO;
         
         
SELECT INVOICE_NO, LINE_NO, ITEM_CD, ITEM_NM, ORDER_QTY
  FROM LO_OUT_D
 WHERE INVOICE_NO = '346724706214'
 ORDER BY CASE WHEN :SORT_TYPE = 1 THEN  ORDER_QTY
               WHEN :SORT_TYPE = 2 THEN -ORDER_QTY
          END
          
SELECT INVOICE_NO, LINE_NO, ITEM_CD, ITEM_NM, ORDER_QTY
  FROM LO_OUT_D
 WHERE INVOICE_NO = '346724706214'
 ORDER BY ORDER_QTY * DECODE(:SORT_TYPE, 1, 1, -1)     --> 다행히 컬럼값이 수라서 곱하기로 표현 가능...
          


          
                    
----------------------------------------------------------DECODE 쓰는 법 
         
SELECT INVOICE_NO, LINE_NO, ITEM_CD, ITEM_NM, ORDER_QTY
  FROM LO_OUT_D
 WHERE INVOICE_NO = '346724706214'
 ORDER BY DECODE(:SORT_TYPE, 1, LINE_NO, ORDER_QTY)  --> 변수가 1일땐 LINE_NO를 넣고 아닐땐 ORDER_QTY를 넣어라!
         ,LINE_NO;         
          


SELECT INVOICE_NO, OUTBOUND_DATE, OUT_TYPE_DIV, SET_QTY
      ,CASE WHEN TO_CHAR(OUTBOUND_DATE, 'MM') = '01' THEN SET_QTY END AS M01  --> 01맞니? 아닌데요 NULL
      ,CASE WHEN TO_CHAR(OUTBOUND_DATE, 'MM') = '02' THEN SET_QTY END AS M02  --> 02맞니? 아닌데요 NULL
      ,CASE WHEN TO_CHAR(OUTBOUND_DATE, 'MM') = '06' THEN SET_QTY END AS M06  --> 06맞니? 맞아요   SET_QTY를 표시할게요!
  FROM LO_OUT_M
 WHERE OUTBOUND_DATE BETWEEN TO_DATE(:YYYY || '0101', 'YYYY-MM-DD') AND TO_DATE(:YYYY || '1231', 'YYYY-MM-DD')
 
 
SELECT INVOICE_NO, OUTBOUND_DATE
       , TO_CHAR(OUTBOUND_DATE, 'DAY') AS DAYY
       , OUTBOUND_NO
  FROM LO_OUT_M
 WHERE INVOICE_NO IN('346724706214', '346724793596', '346724869970')
 ORDER BY OUTBOUND_DATE, INVOICE_NO

